main {
  margin: 0 auto;
  width: 100%;
  padding: 50px 0;
}
.catalog-title {
  text-align: center;
  margin-bottom: 2em;
}

.catalog-container {
  display: grid;
  gap: 1.5em;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 280px);
  width: 80%;
  margin: 0 auto;
}

.goods-card {
  width: 280px;
  border: 1px solid #e9eaea;
  border-radius: 3px;
  transition: transform .3s ease;
}
.goods-card:hover {
  transform: scale(1.1);
}
.img-box {
  padding: 10px 0;
  background: #EEEEEE;
  text-align: center;
}
.img-box img {
  width: 120px;
}
.text-box {
  padding: 15px;
  color: #333;
  background: #fff;
  line-height: 1.3em;
}
.model-type {
  font-size: 12px;
}
.price {
  font-weight: bold;
}

/* search styles */
.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 7em);
  gap: 1px;
  justify-content: center;
  margin-bottom: 2em;
}
.filters div input {
  display: none;
}
.filters div label {
  display: inline-block;
  width: 7em;
  text-align: center;
  padding: .5em 0;
  background: #333;
  color: white;
}
.filters div input:checked+label {
  background: silver;
  color: #333;
}
/* search styles end */

/* gallery styles */
.gallery-title {
  margin-top: 3em;
}

.gallery {
  display: grid;
  gap: 1.5em;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 280px);
  width: 80%;
  margin: 0 auto;
}
.gallery-img {
  width: 280px;
  height: 280px;
  border: 1px solid #e9eaea;
  transition: transform .3s ease;
  background: white;
}
.gallery-img img {
  width: 280px;
  height: 280px;
  object-fit: contain;
}