.main-contents {
  width: 80%;
  margin: 100px auto 50px auto;
}
/* wear introdaction styles */
.wear-text-box {
  line-height: 1.3em;
}
.wear-name {
  font-size: 20px;
  margin-bottom: .5em;
}
.wear-introdaction {
  font-size: 14px;
}

/* wear informations styles */
.model-size {
  text-align: right;
}
.wear-info {
  line-height: 1.5em;
}
.small-font {
  font-size: 12px;
  color: gray;
}
.price {
  margin: 1em 0;
  font-weight: bold;
}


/* num selects styles */
.select-num {
  margin: 24px 0;
}
select {
  width: 10em;
  padding: .5em;
  margin: 1em 0;
  border: 1px solid #e9eaea;
  color: #333;
}
/* size selects styles */
.select-size {
  align-items: center;
  display: flex;
}
.select-size select {
  text-align: center;
  width: 4em;
}

/* buy buttons styles */
#buy {
  text-align: center;
  display: block;
  background: tomato;
  color: white;
  max-width: 100%;
  margin: 24px 0;
  padding: 1em 0;
  border-radius: 12px;
}

/* wear summary styles */
.wear-summary h4 {
  font-weight: normal;
}
summary {
  display: block;
  outline: none;
  cursor:pointer;
  margin-top: 1em;
}
details ul {
  margin-left: 1em;
  list-style: disc;
}
.goods-summary-items {
  margin-top: 1em;
}
.goods-summary-items h4 {
  font-size: 18px;
  margin-bottom: 8px;
}
.summary-top {
  margin-top: 1.5em;
}
summary::-webkit-details-marker {
  display: none;
}
details {
  position: relative;
}
summary::after {
  content: "+";
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
details[open] summary::after {
  content: "-";
}


/* responsive styles */
@media screen and (max-width: 600px) {
  .main-contents {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .slider {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .main-contents {
    display: flex;
    justify-content: space-between;
  }
  .right-box {
    width: 50%;
    margin: 12em 0 0 8%;
  }
  .left-box {
    width: 90%;
  }
}


/* colors styles */
.FFAC00 {
  color: #FFAC00;
}
.color-364480 {
  color: #364480;
}
.FF6D00 {
  color: #FF6D00;
}
.color-287E34 {
  color: #287E34;
}
.FFCF00 {
  color: #FFCF00;
}
.B7B7B7 {
  color: #B7B7B7;
}
.color-003F66 {
  color: #003F66;
}
.color-619FAC {
  color: #619FAC;
}
.color-606480 {
  color: #606480;
}